@CHARSET "UTF-8";

.room {
	width: 25px;
	height: 25px;
	background: green;
	position: absolute;
}

.gate {
	background: red;
}

.center {
	background: blue;
}

.connection {
	background: black;
	position: absolute;
}

.horiz {
	width: 30px;
	height: 5px;
}

.vert {
	width: 5px;
	height: 30px;
}